<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <body>
      <form
        action="/skills/<%= skill.id %>?_method=PUT"
        method="POST"
        autocomplete="off"
      >
        <input type="text" name="skill" value="<%= skill.skill %>" />
        <button type="submit">Update Skill Habibi</button>
      </form>
    </body>
  </body>
</html>
